
    body {
        background: rgb(250,239,223);
      }
      
      h1 {
        color: white;
        text-align: center;
        font-size: 35px;
      }
      
      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
      }

  
      * {
        box-sizing: border-box;
      }
      
      .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }
      
      
      .row::after {
        content: "";
        clear: both;
        display: table;
      }

      div.Rescale {
          margin-top: 150px;
          margin-bottom: 150px;
          margin-left: 300px;
          margin-right: 300px;
      }

      figcaption {
        position: relative;
        left: 50%;
        font-family: Open Sans, bold;
        font-size: 35px;
    }

     