body {
    background-color: rgb(255,196,170);
    padding: 0; 
    margin: 0;
  }
  
  h1 {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
    font-size: 70px;
  }

  h2 {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
  }
  

  img {
    float:right;
    margin-bottom: 0px;
  }
  button {
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    }
    button:hover {
    transform: scale(0.8);
    }