body {
    background-color: rgb(255,196,170);
    padding: 0; 
    margin: 0;
  }
  
  h1 {
    font-family: 'Nunito', sans-serif;
    color:blue;
    text-align: left;
    font-size: 70px;
  }

  h2 {
    font-family: 'Nunito', sans-serif;
    color:black;
    text-align: left;
    font-size: 40px;
  }
  
  h3 {
    font-family: 'Nunito', sans-serif;
    color:black;
    text-align: left;
    font-size: 20px;
  }
  

  img {
    float:right;
    margin-bottom: 0px;
  }
  img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  button {
    color:blue;
    background-color: rgb(255,196,170);
    border: 3px blue;
    border-radius: 20px;
    padding: 0 15px;
    cursor: pointer;
    height:70px;
    font-size:50px;
    transition: all 0.2s ease-in-out;
    }
    button:hover {
    transform: scale(0.8);
    }